name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  publish-docs:
    name: GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
            components: rust-docs
      - uses: Swatinem/rust-cache@v2
      - name: add llvm deb repository
        uses: myci-actions/add-deb-repo@11
        with:
          repo: deb http://apt.llvm.org/noble/ llvm-toolchain-noble-21 main
          repo-name: llvm-repo
          keys-asc: https://apt.llvm.org/llvm-snapshot.gpg.key
      - name: Install LLVM
        run: sudo apt-get install llvm-21 llvm-21-dev llvm-21-runtime clang-21 clang-tools-21 lld-21 libpolly-21-dev libmlir-21-dev mlir-21-tools
      - name: Build docs
        run: cargo doc --workspace
      - run: rm target/doc/.lock
      - uses: actions/upload-pages-artifact@v3
        with:
            path: target/doc
      - uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/master'
